<div id="uploadHeader">
  <form action="/uploadAvatar" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label class="text_small" for="avatar">Avatar</label>
      <input id="avatar" type="file" name="avatar">
    </div>
    <input type="submit" value="Upload">
  </form>
</div>